/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { AgentControlSDKCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { AgentControlSDKError } from "../models/errors/agent-control-sdk-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * List all controls
 *
 * @remarks
 * List all controls with optional filtering and cursor-based pagination.
 *
 * Controls are returned ordered by ID descending (newest first).
 *
 * Args:
 *     cursor: ID of the last control from the previous page (for pagination)
 *     limit: Maximum number of controls to return (default 20, max 100)
 *     name: Optional filter by name (partial, case-insensitive match)
 *     enabled: Optional filter by enabled status
 *     template_backed: Optional filter by whether the control is template-backed
 *     step_type: Optional filter by step type (built-ins: 'tool', 'llm')
 *     stage: Optional filter by stage ('pre' or 'post')
 *     execution: Optional filter by execution ('server' or 'sdk')
 *     tag: Optional filter by tag
 *     db: Database session (injected)
 *
 * Returns:
 *     ListControlsResponse with control summaries and pagination info
 *
 * Example:
 *     GET /controls?limit=10&enabled=true&step_type=tool
 */
export function controlsList(
  client: AgentControlSDKCore,
  request?: operations.ListControlsApiV1ControlsGetRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.ListControlsResponse,
    | errors.HTTPValidationError
    | AgentControlSDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: AgentControlSDKCore,
  request?: operations.ListControlsApiV1ControlsGetRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.ListControlsResponse,
      | errors.HTTPValidationError
      | AgentControlSDKError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        z.optional(
          operations.ListControlsApiV1ControlsGetRequest$outboundSchema,
        ),
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/api/v1/controls")();

  const query = encodeFormQuery({
    "cursor": payload?.cursor,
    "enabled": payload?.enabled,
    "execution": payload?.execution,
    "limit": payload?.limit,
    "name": payload?.name,
    "stage": payload?.stage,
    "step_type": payload?.step_type,
    "tag": payload?.tag,
    "template_backed": payload?.template_backed,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.apiKeyHeader);
  const securityInput = secConfig == null ? {} : { apiKeyHeader: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "list_controls_api_v1_controls_get",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKeyHeader,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["422", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.ListControlsResponse,
    | errors.HTTPValidationError
    | AgentControlSDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.ListControlsResponse$inboundSchema),
    M.jsonErr(422, errors.HTTPValidationError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
